Source: polygon3
Section: science
Priority: optional
Maintainer: Debian Astro Team <debian-astro-maintainers@lists.alioth.debian.org>
Build-Depends: debhelper (>=10),
               dh-python,
               intltool-debian,
               gettext,
               groff-base,
               libarchive-zip-perl,
               libpipeline1,
               m4,
               python3-all,
               python3-dev,
               python3-numpy
Standards-Version: 4.5.0
Homepage: http://www.j-raedler.de/projects/polygon
X-Python-Version: >= 3.0

Package: polygon3
Architecture: any
Multi-Arch: foreign
Depends: ${python3:Depends}, ${misc:Depends}, ${shlibs:Depends}
Description: Polygon is a Python3 package that handles polygonal shapes in 2D.
 It contains Python bindings for gpc, the excellent General Polygon Clipping
 Library by Alan Murta and some extensions written in C and pure Python.
